.my-nerdlet {
  outline: 1px solid black;
}

.segmentControl button>span{
  font-size: 14px !important;
  padding: 3px!important;
}

.segmentControl button{
  width: 175px!important;
}

.center {
  margin: 0 auto;
  width: 50%;
}