/* 
NR1 styling clashes with semantic
This file reimplements semantic css with !important to allow Semantic components to be styled correctly
*/
a {
  text-decoration: none !important;
}

td:not(.u-unstyledTd),
th:not(.u-unstyledTh) {
  height: 30px !important;
}

.ui.search.selection.dropdown > input.search {
  line-height: 1.21428571em !important;
  padding: 0.67857143em 2.1em 0.67857143em 1em !important;
}

/* .ui.search.dropdown > input.search {
  position: absolute !important;
  z-index: 2 !important;
} */

.singledrop > input.search {
  position: absolute !important;
  z-index: 2 !important;
}

/* #excludedInstanceTypes,
#includedInstanceTypes {
  position: relative !important;
} */

.ui.search.dropdown > input.search {
  background: none transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: text !important;
  top: 0 !important;
  left: 1px !important;
  width: 100% !important;
  outline: 0 !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  padding: inherit !important;
}

.ui.card,
.ui.cards > .card {
  border-radius: 0 !important;
}

.ui.mini.button,
.ui.mini.buttons .button,
.ui.mini.buttons .or {
  font-size: 0.78571429rem !important;
}

.ui.icon.button > .icon,
.ui.icon.buttons .button > .icon {
  opacity: 0.9 !important;
  margin: 0 !important;
  vertical-align: top !important;
}

.ui.button,
.ui.buttons .button,
.ui.buttons .or {
  font-size: 1rem !important;
}

i.small.icon,
i.small.icons {
  line-height: 1 !important;
  font-size: 0.75em !important;
}

table {
  border-radius: 0 !important;
}

.ui.checkbox input[type='checkbox'],
.ui.checkbox input[type='radio'] {
  cursor: pointer !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0 !important;
  outline: 0 !important;
  z-index: 3 !important;
  width: 17px !important;
  height: 17px !important;
}

.ui.menu .dropdown.item .menu {
  min-width: calc(100% - 1px) !important;
  /* border-radius: 0 0 0.28571429rem 0.28571429rem !important; */
  /* background: #fff !important; */
  margin: 0 0 0 !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08) !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08) !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.ui.multiple.search.dropdown > input.search {
  position: static !important;
  padding: 0 !important;
  max-width: 100% !important;
  margin: 0.45238095em 0 0.45238095em 0.64285714em !important;
  width: 15em !important;
  line-height: 1.21428571em !important;
}

.ui.selection.dropdown {
  cursor: pointer !important;
  word-wrap: break-word !important;
  line-height: 1em !important;
  white-space: normal !important;
  outline: 0 !important;
  -webkit-transform: rotateZ(0) !important;
  transform: rotateZ(0) !important;
  min-width: 14em !important;
  min-height: 2.71428571em !important;
  /* background: #fff !important; */
  display: inline-block !important;
  /* padding: 0.78571429em 2.1em 0.78571429em 1em !important; */
  color: rgba(0, 0, 0, 0.87) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* border: 1px solid rgba(34, 36, 38, 0.15) !important; */
  /* border-radius: 0.28571429rem !important; */
  -webkit-transition: width 0.1s ease, -webkit-box-shadow 0.1s ease !important;
  transition: width 0.1s ease, -webkit-box-shadow 0.1s ease !important;
  transition: box-shadow 0.1s ease, width 0.1s ease !important;
  transition: box-shadow 0.1s ease, width 0.1s ease,
    -webkit-box-shadow 0.1s ease !important;
}
.ui.dropdown {
  cursor: pointer !important;
  position: relative !important;
  display: inline-block !important;
  outline: 0 !important;
  text-align: left !important;
  -webkit-transition: width 0.1s ease, -webkit-box-shadow 0.1s ease !important;
  transition: width 0.1s ease, -webkit-box-shadow 0.1s ease !important;
  transition: box-shadow 0.1s ease, width 0.1s ease !important;
  transition: box-shadow 0.1s ease, width 0.1s ease,
    -webkit-box-shadow 0.1s ease !important;
  -webkit-tap-highlight-color: transparent !important;
}
