@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');

#root {
    padding: 0;
    background-color: #f4f5f5;
  }

  .main {
    height: 100%;
    // padding-top: 5px;
    // padding-left: 5px;
  }

  .main-dark {
    background-color: black;
  }

  .main-light {
    background-color: #f4f5f5;
  }

  .header-bar {
    text-align: center;
    margin-bottom: 0px
  }

  .header-bar-light {
    // background-color: #EDEEEE;
  }

  .menu-bar {
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
  }

  .card {
      margin-bottom: 1px;
      width: 400px;
  }

  .card-dark {
      background-color: rgb(51, 51, 51)
  }

  .card-content-dark {
    color: white
  }

  .card-content-light {
      color: black
  }

  .config {

  }

  .config-dark {
      background-color: black;
  }