@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');

#root {
    padding: 0;
    background-color: #f4f5f5;
  }

.main {
  height: 100%;
  // padding-top: 5px;
  // padding-left: 5px;
}

.main-dark {
  background-color: black;
}

.main-light {
  background-color: #f4f5f5;
}

.header-bar {
  text-align: center;
  margin-bottom: 0px
}

.header-bar-light {
  // background-color: #EDEEEE;
}

.menu-bar {
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}

.card {
    margin-bottom: 1px;
    width: 400px;
}

.card-dark {
    background-color: rgb(51, 51, 51)
}

.card-content-dark {
  color: white
}

.card-content-light {
    color: black
}

.config-dark {
    background-color: black;
}

.ui.compact.table td {
    padding: .2em .5em !important;
}

.ui.table td {
  padding: .2em .5em !important;
}

.ui.mini.button, .ui.mini.buttons .button, .ui.mini.buttons .or {
  font-size: .78571429rem !important;
}

.segment-clear {
  background: "" !important;
}

.ui.card, .ui.cards>.card {
  border-radius: 0 !important;
}

.ui.table {
  border-radius: 0 !important;
}

.ui.celled.table > thead > tr > th {
  text-transform: uppercase !important;
  padding-bottom: 3px !important;
  border-left: 0px !important;
}

.ui.celled.table > tbody > tr > td {
  border-left: 0px !important;
}